@model actividadcomplementaria.Models.area

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>area</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_area)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre_area)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model.ID_area">Edit</a> |
    <a asp-action="Inicio">Regresar</a>
</div>
